:root{
    --light: #16a79d;
    --dark : #13968D;
    --navbar : #4d505b;
    --main-color : #353D41;
    --success : #5cb85c;
    --warning : #d9534f;
    --border-gray : #dbdbdb;
}
@font-face {
  font-family: 'Aqua';
  src: url('aqua.ttf');
}
@font-face {
  font-family: 'open';
  src: url('OpenSans-Light.ttf');
}
@font-face {
  font-family: 'museo_sans500';
  src: url('MuseoSans_500-webfont.eot');
  src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('MuseoSans_500-webfont.woff2') format('woff2'),
       url('MuseoSans_500-webfont.woff') format('woff'),
       url('MuseoSans_500-webfont.ttf') format('truetype'),
       url('MuseoSans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "raleway";
  src : url('Raleway-Regular.ttf');
}
body {
  font-family : "open";
  background-color : #ffffff;
  color : var(--main-color);
}
#Logo {
  width : 40vw;
  height : 40vw;
}
#LoginToggle {
  color : #fff;
}
.login {
  border-radius : 0px;
}
.setting {
  width : 280px;
}
.select_setting {
  width : 140px;
}
.warning {
  color : var(--warning);
  font-size : 16px;
}
.success {
  color : var(--success);
  font-size : 16px;
}
.app-container {
  padding-top : 65px;
}
.register-container {
  padding-top : 130px;
}
.badge-notify{
   background-color : var(--warning);
   position:relative;
}
#SignUpButton:focus {
  background-color: #fff;
}
.register {
  max-width : 350px;
  height : 34px;
}
.btn-login {
  background-color : var(--light);
  color : #fff;
}
.btn-login:hover {
  background-color: var(--dark);
  color : #fff;
}
.link {
  color : var(--light);
}
.link:hover {
  color: var(--dark);
}
#UpdateSettingsSubmit {
  width : 280px;
}
#UpdateSettingsSubmit:focus {
  background-color: #fff;
}
.valid {
}
.invalid {
  border-width: 1.5px;
  border-color: var(--warning);
  border-style: solid;
}
.avatar_container {
  width :140px;
  height:140px;
  background-size:cover;
  border : 2px dashed var(--main-color);
  border-radius : 10px;
  margin-bottom : 15px;
}
.unclickableDropdown {
  cursor : default;
}
#NoNewNotifications {
  list-style-type: none;
}
#NoNewNotificationsDropdown {
  text-align: center;
}
#ViewMoreButton {
  padding-top: 8px;
  padding-bottom: 8px;
  color : var(--navbar);
}
#ViewMoreButton:hover {
  cursor : pointer;
  background-color : var(--light);
}
.popover-title { 
  display: none; 
}
.NotificationsFeedPost{
  list-style-type : none;
  padding-top : 5px;
  padding-bottom : 5px;
  padding-left : 0px;
  padding-right : 0px;
}
#NotificationsFeed { 
  max-width : 92vw;
}
#NotificationsFeed > li > a {
  text-decoration : none;
  color : var(--main-color);
  padding-left : 0px;
  padding-right : 0px;
  white-space : normal;
}
#NotificationsFeed > li > a :hover {
  color : var(--light);
}
.CommentFeedPost {
  list-style-type: none;
  border-bottom: 1px solid var(--border-gray);
}
.CommentFeedPostOriginal {
  list-style-type:none;
  border-bottom: 1px solid var(--border-gray);
}
.numberOfComments {
  color:var(--light);
  cursor:pointer;
}
.CommentContainer:hover .numberOfComments{
  color:var(--dark);
}
.CommentContainer:hover .PostBottomIcon{
  color:var(--dark);
}
.PostDropdown {
  border-bottom : none;
  margin-top : 8px;
  max-width : 20px;
  width: 10px;
}
.Post {
  list-style-type: none;
  border-bottom: 1px solid var(--border-gray);
}
.form-control.FeedPostBody {
  max-width: 85%;
}
.PostBottomIcon {
  padding-right : 3px;
  top : 8px;
}
.CommentBottomIcon {
  top : -8px;
}
.CommentDropdown {
  border-bottom : none;
  margin-top : 13px;
  max-width : 20px;
  width: 10px;
}
.alert {
  margin-top : 10px;
}
#CommentFeed {
  margin-top: 10px;
  padding-left : 0px;
  padding-right: 0px;
  background-color : #ffffff;
}
.FeedPostBody {
  max-width : 90vw;
  word-wrap: break-word;
  position : relative;
  top : -21px;
  white-space: pre-wrap;
}
.CommentFeedPostBody {
  max-width : 90vw;
  word-wrap: break-word;
  position: relative;
  top : -21px;
  white-space: pre-wrap;
}
#Feed {
  margin-top: 10px;
  padding-left : 0px;
  padding-right: 0px;
  background-color : #ffffff;
}
#actionbuttons {
  margin-right: 10px;
}
.signin {
  margin-left: 5px;
}
.form-group {
  flex-grow:1;
}
.Avatar {
  height: 48px;
  width: 48px;
}
.AvatarSpace {
  width: 60px;
  min-height : 70px;
  float: left;
  padding-left : 10px;
  margin-top: 10px;
}
.PostSpace {
  padding-top: 10px;
  margin-left: 75px;
  padding-left : 10px;
  padding-right : 25px;
}
.FeedPostHeader {
  white-space : nowrap;
}

.FeedPostHeader .headerpart {
  float : left;
  display : inline-block;
}
.FeedPostHeader .username {
  padding-left: 5px;
}
.FeedPostHeader .name:hover {
  color: var(--light);
  cursor : pointer;
}
.FeedPostHeader .time {
  padding-left : 6px;
  padding-right: 20px;
}
.FeedPostHeader .postType {
  color : var(--navbar);
  background-color : #ffffff;
  /*border-radius: 4px;*/
  border : 1px solid var(--navbar);
  padding-left: 5px;
  padding-right: 5px;
}
.icon-danger {
  color:var(--warning);
  cursor: pointer;
}
.icon-danger:hover {
  color:#973a37;
}
.icon-success {
  color:var(--success);
  cursor: pointer;
}
.icon-success:hover{
  color:#408040;
}
.glyphicon {
  font-size: 20px;
}
.HeaderGlyphicon {
  font-size : 12px;
}
.AppGlyphicon:hover {
  color:var(--dark);
  cursor:pointer;
}
.AppGlyphicon {
  color:var(--light);
}
.app.row {
  padding-left:10px;
  padding-right:10px;
}
.feed.row {
  padding-left : 0px;
  padding-right : 0px;
}
#EventName {
  display : inline-block;
}
.SearchNavBarGlyphicon:hover {  
  cursor : pointer;
}
.SubmitButton {
  cursor: pointer;
}
#MessagePost {
  display : block;
}
#CommentPost {
  display : block;
}
#PostInput {
  border : 1px solid #dfdfdf;
  border-radius : 4px;
  resize : vertical;
}
#TogglePost {
  margin-top : 5px;
  cursor : pointer;
}
#ToggleComment {
  cursor : pointer;
}
#CommentInput {
  border : 1px solid #dfdfdf;
  border-radius : 4px;
  resize: vertical;
}
.tooltip {
  overflow : visible;
  font-family : "HelveticaNeue-Light";
}
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-addon {
    /*border-radius: 4px;*/
    border: 0px;
    background-color: transparent;
}
#searchInput {
    margin-top : 2px;
}
.navbar-default {
  background-color: var(--navbar);
  border-radius : 0px;
  position : fixed;
  width : 100%;
  z-index : 500;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: var(--light);
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--light);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--dark);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--dark);
}
.navbar-default .navbar-toggle {
  border-color: var(--dark);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--dark);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
  background-color : var(--navbar);
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: var(--light);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    white-space : normal;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: var(--light);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--dark);
  }
}