:root{
    --light: #80CCEE;
    --dark : #73b7d6;
    --navbar : #4d505b;
    --main-color : #353D41;
    --success : #5cb85c;
    --warning : #d9534f;
    --error : #f44336;
    --border-gray : #e5e5e5;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.ttf');
}
body {
  font-family : "HelveticaNeue-Light", FontAwesome;
  font-size : 18px;
  background-color : #ffffff;
  color : var(--main-color);
  overflow-x : hidden;
}
button.kep-login-facebook{
  width : 350px;
  height : 40px;
  text-transform : none;
  border-radius : 4px!important;
}
button.kep-login-facebook:hover{
  background-color : #365899;
}
.inner-addon { 
    position: relative; 
}

.inner-addon .input-icon {
  position: absolute;
  padding: 10px;
  font-size : 14px;
  pointer-events: none;
  z-index : 20000;
  opacity : 0.5;
}
.login-icon {
  top : -4px;
}
.left-addon .input-icon  { left:  0px;}
.right-addon .input-icon { right: 0px;}
.left-addon input { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.original-post-time {
  padding-top : 20px;
  padding-bottom : 10px;
}
.special {
  color : var(--light);
}
.make-post-filter-text {
  float:left;
  padding-top : 4px;
  padding-left : 4px;
}
.filterButton {
  margin-left : 90px;
  float : left;
}
.important-text {
  font-size : 24px;
  font-weight : 'bold';
}
.filter-caption {
  font-size : 10px;
  padding-top : 2px;
  text-decoration: none;
  color : var(--main-color);
  cursor : default;
}
.filterBottom {
  padding-bottom :4px;
}
.footer-link {
  padding: 16px;
  font-size : 13px;
  float : left;
}
.footer-title {
  padding: 16px; 
  font-size : 13px;
  float : left;
}
.terms-of-service {
  max-width : 350px;
  padding-top : 10px;
}
.terms-of-service-text {
  font-size : 10px;
}
.recovery-input {
  margin-left : 20px;
  margin-right : 20px;
  min-width : 300px;
  width : 33%;
}
.recovery-title {
  padding : 20px;
  color : var(--light);
  font-size : 40px;
}
.recovery-button {
  margin-left : 20px;
  margin-top : 10px;
}
.recovery {
  margin-top : 10px;
  margin-bottom : 10px;
  margin-left : 20px;
  margin-right : 20px;
}
#login_user {
  border-radius : 4px 0px 0px 4px;
}
#login_password {
  border-radius : 0px;
} 
#LoginButton {
  border-radius : 0px 4px 4px 0px;
}
.notification-hr {
  width : 95%;
}
.edit-post {
  resize : vertical;
}
.post-button {
  color : #fff;
  outline : none;
  border-radius : 20px;
  background-color : var(--light);
}
.post-button:hover {
  color : #fff;
  outline : none;
  background-color : var(--dark);
}
.post-button:focus {
  color : #fff;
  outline : none!important;
  background-color : var(--light);
}
button:focus {
  outline : none!important;
}
#Or {
  padding-top : 8px;
  font-size : 14px;
}
#OriginalPost {
  padding-bottom : 10px;
}
#Logo {
  width : 35vw;
  height : 50vh;
}
#LoginToggle {
  color : #fff;
}
.dummy {
  border : none;
}
.setting {
  width : 280px;
}
.select_setting {
  width : 280px;
}
.warning {
  color : var(--warning);
}
.success {
  color : var(--success);
}
.app-container {
  padding-top : 65px;
}
.register-container {
  padding-top : 90px;
  padding-bottom : 65px;
}
.badge-notify{
   background-color : var(--error);
   position:relative;
}
.register {
  max-width : 350px;
  max-height : 34px;
}
.register-form-container {
  width : 50%;
}
.login-page-filler {
  padding-top : 65px;
  width : 50%;
}
.register#Or {
  padding-bottom : 12px;
}
.forgot-password {
  padding-top : 4px;
}
.login-warning {
  font-size : 12px;
}
.forgot-password > a {
  text-decoration: none;
  font-size : 12px;
  color : var(--light);
}
.btn-login {
  background-color : var(--light);
  color : #fff;
  border : none;
}
.btn-login:hover {
  background-color: var(--dark);
  color : #fff;
}
.link {
  color : var(--light);
}
.link:hover {
  color: var(--dark);
}
.settings-button {
  width : 280px;
  background-color : var(--light);
  color : #fff;
}
.settings-button:hover {
  background-color: var(--dark);
  color : #fff;
}
.settings-button:focus {
  background-color: var(--light);
  color : #fff;
}


.invalid {
  border-width: 1.5px;
  border-color: var(--warning);
  border-style: solid;
}
.avatar_container {
  width :140px;
  height:140px;
  background-size:cover;
  border : 1px solid var(--main-color);
  border-radius : 10px;
  margin-bottom : 15px;
  margin-left : 70px;
  margin-right : 70px;
}
.unclickableDropdown {
  cursor : default;
}
#NoNewNotifications {
  list-style-type: none;
}
#NoNewNotificationsDropdown {
  text-align: center;
}
.add-to-feed {
  padding-top: 8px;
  padding-bottom: 8px;
  color : var(--light);
  z-index : 100!important;
  border: none;
  cursor : default;
}
.add-to-feed:hover {
  color : var(--dark);
}
.popover-title { 
  display: none; 
}
.NotificationsFeedPost{
  list-style-type : none;
  padding-left : 0px;
  padding-right : 0px;
}
.notification-post-row {
  padding-top : 2px;
  padding-bottom : 2px;
}
#NotificationsFeed { 
  max-width : 92vw;
}
#NotificationsFeed > li > div > a {
  text-decoration : none;
  color : var(--main-color);
  padding-left : 0px;
  padding-right : 0px;
  white-space : normal;
}
#NotificationsFeed > li > div > a :hover {
  color : var(--light);
}
.CommentFeedPost {
  list-style-type: none;
  border-bottom: 1px solid var(--border-gray);
}
.CommentFeedPostOriginal {
  list-style-type:none;
  border-bottom: 1px solid var(--border-gray);
}
.numberOfComments {
  color:var(--light);
  cursor:pointer;
  padding-left : 4px;
  font-weight : 'bold';
}
.noComments {
  text-decoration: none;
  color: #dbdbdb;
  cursor: pointer;
  padding-left : 4px;
  font-weight : 'bold';
}
.CommentContainer:hover .numberOfComments{
  color:var(--dark);
}
.CommentContainer:hover .PostBottomIcon{
  color:var(--dark);
}
.PostDropdown {
  border-bottom : none;
  margin-top : 8px;
  max-width : 20px;
  width: 10px;
  cursor:pointer;
}
.Post {
  list-style-type: none;
  border-bottom: 1px solid var(--border-gray);
}

.form-control.FeedPostBody {
  max-width: 85%;
}
.PostBottomIcon {
  padding-right : 3px;
  top : 8px;
}
.CommentBottomIcon {
  top : -8px;
}
.CommentDropdown {
  border-bottom : none;
  margin-top : 13px;
  max-width : 20px;
  width: 10px;
  cursor : pointer;
}
.alert {
  margin-top : 10px;
}
#CommentFeed {
  margin-top: 10px;
  padding-left : 0px;
  padding-right: 0px;
  background-color : #ffffff;
}
.FeedPostBody {
  max-width : 90vw;
  word-wrap: break-word;
  position : relative;
  top : -21px;
  white-space: pre-wrap;
}
.CommentFeedPostBody {
  max-width : 90vw;
  word-wrap: break-word;
  position: relative;
  top : -21px;
  white-space: pre-wrap;
}
#Feed {
  margin-top: 10px;
  padding-left : 0px;
  padding-right: 0px;
  background-color : #ffffff;
}
#actionbuttons {
  margin-right: 10px;
}
.signin {
  margin-left: 5px;
}
.form-group {
  flex-grow:1;
}
.Avatar {
  height: 64px;
  width: 64px;
}
.AvatarSpace {
  width: 60px;
  min-height : 70px;
  float: left;
  padding-left : 10px;
  margin-top: 10px;
}
.PostSpace {
  padding-top: 10px;
  margin-left: 90px;
  padding-left : 10px;
  padding-right : 25px;
}
.NotificationAvatarSpace {
  padding-bottom : 10px;
}
.NotificationSpace {
  margin-left: 90px;
}
.FeedPostHeader {
  white-space : nowrap;
}

.FeedPostHeader .headerpart {
  float : left;
  display : inline-block;
}
.FeedPostHeader .username {
  padding-left: 5px;
}
.FeedPostHeader .name:hover {
  color: var(--light);
  cursor : pointer;
}
.FeedPostHeader .time {
  padding-left : 6px;
  padding-right: 20px;
}
.FeedPostHeader .postType {
  color : var(--main-color);
  background-color : #ffffff;
  padding-right: 5px;
}
.icon-danger {
  color:var(--warning);
  cursor: pointer;
}
.icon-success {
  color:var(--success);
  cursor: pointer;
}
.make-post-unselected {
  color : silver;
  cursor : pointer;
}
.make-post-selected {
  color : var(--light);
  cursor : pointer;
}
.glyphicon {
  font-size: 20px;
}
.HeaderGlyphicon {
  font-size : 18px;
}
.AppGlyphicon:hover {
  color:var(--dark);
  cursor:pointer;
}
.AppGlyphicon {
  color:var(--light);
}
.modal-button {
  width : 200px;
  border-radius : 0px;
  background-color : var(--light);
  color : #fff;
}
.modal-button:hover {
  background-color: var(--dark);
  color : #fff;
}
.modal-button:focus {
  background-color: var(--light);
  color : #fff;
}
.app.row {
  padding-left:10px;
  padding-right:10px;
}
.feed.row {
  padding-left : 0px;
  padding-right : 0px;
}
#EventName {
  display : inline-block;
}
.SearchNavBarGlyphicon:hover {  
  cursor : pointer;
}
.SubmitButton {
  cursor: pointer;
}
#MessagePost {
  display : block;
}
#CommentPost {
  display : block;
}
#PostInput {
  border : 1px solid #dfdfdf;
  border-radius : 4px;
  resize : vertical;
}
#TogglePost {
  margin-top : 5px;
  cursor : pointer;
  color : var(--light);
}
#ToggleComment {
  cursor : pointer;
  color : var(--light);
}
#CommentInput {
  border : 1px solid #dfdfdf;
  border-radius : 4px;
  resize: vertical;
}
.tooltip {
  overflow : visible;
  font-family : "open";
}
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-addon {
    /*border-radius: 4px;*/
    border: 0px;
    background-color: transparent;
}
.navbar-default {
  background-color: #fff;
  border-radius : 0px;
  position : fixed;
  width : 100%;
  height : 52px;
  z-index : 500;
  background: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-brand {
  color: var(--light);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: var(--dark);
}
.navbar-default .navbar-text {
  color: var(--light);
}
.navbar-default .navbar-nav > li > a {
  color: var(--light);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--dark);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--light);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--light);
}
.navbar-default .navbar-toggle {
  color : var(--light)!important;
  border-color: var(--light);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color : #fff!important;
  background-color: var(--light);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--light);
}
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: var(--light);
}
.navbar-default .navbar-link {
  color: var(--light);
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  body {
    font-size : 14px;
  }
  .login-icon {
    top : 0px;
  }
  .HeaderGlyphicon {
    font-size : 14px;
  }
  .PostSpace {
    margin-left : 75px;
  }
  .NotificationSpace {
    margin-left : 75px;
  }
  .register-container {
    padding-top : 65px;
    padding-bottom : 116px;
  }
  .Avatar {
    width : 48px;
    height : 48px; 
  }
  .important-text {
    font-size : 18px;
    font-weight : 'bold';
  }
  .filterButton {
    margin-left : 10px;
    float : left;
  }
  button.kep-login-facebook{
    width : 340px;
    height : auto;
  }
  .navbar-default {
    height : auto;
  }
  .login-page-filler {
    display : none;
  }
  .register-form-container {
    width : 100%;
  }
  .login-home {
    padding-top : 0px;
  }
  #login_user {
    border-radius : 4px 4px 0px 0px;
  }
  #LoginButton {
    border-radius: 0px 0px 4px 4px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: var(--main-color);    
    white-space : normal;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    color: var(--light);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: var(--light);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: var(--light);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--light);
  }
}

