{% extends "base.html" %}
{% include "homeBanner.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/createProfile.js') }}"></script>

<div id = "create_profile" class="container">
	<div class="page-header">
		<h2>Create an Account</h2>
	</div>
	<form class="form-horizontal" id="profile" method="post" action="createProfile">
		<label class="control-label" for = "first_name">Name</label>
		<div class="form-group">
			<input class="setting" id="first_name" name = "first_name" type = "text" placeholder="First" />
			<input class="setting" id="last_name" name = "last_name" type = "text" placeholder="Last"/>
		</div>
		<div class="form-group warning" id="name_warning"></div>
		<label class="control-label" for = "email"> Email Address </label>
		<div class="form-group">
			<input class="setting" id="email" name = "email" type = "text"/>
		</div>
		<div class="form-group warning" id="email_warning"></div>
		<label class="control-label" for = "userID"> Choose your username</label>
		<div class="form-group"> 
			<input class="setting" id="userID" name = "userID" type = "text" />
		</div>
		<div class="form-group warning" id="userID_warning"></div>
		<label class="control-label" for = "password"> Create a password </label>
		<div class="form-group">
			<input class="setting" href="#" id = "password" onclick="focus()" name = "password" type = "password" data-toggle="popover" data-trigger="focus" data-content="Your password must contain at least one letter and one number."/>
		</div>
		<div class="form-group warning" id="password_warning"></div>
		<label class="control-label" for = "password_confirm"> Confirm your password </label>
		<div class="form-group">
			<input class="setting" id = "password_confirm" name = "password_confirm" type = "password" />
		</div>
		<div class="form-group warning" id="password_confirm_warning"></div>
		<label class="control-label" for = "gender">Gender</label>
		<div class="form-group">
			<select class="setting" data-width="fit" id="gender" name = "gender" multiple data-max-options="1" title="I am..." value=""> 
				<option value = "Female"> Female </option>
				<option value = "Male"> Male </option>
				<option value = "Other"> Other </option>	
			</select>	
		</div>
		<label class="control-label" for = "phone_number">Phone #</label>
		<div class="form-group">
			<input class="setting" rows="1" id = "phone_number" name="phone_number"></input>
		</div> 
		<label class="control-label" for="birthMonth">Birthday</label>
		<div class="form-group">
    		<select class="setting" data-width="fit" id="birthMonth" name = "birthMonth" multiple data-max-options="1" title="Month" value=""> 
    			<option value = 1> January </option>	
    			<option value = 2> February </option>	
    			<option value = 3> March </option>	
    			<option value = 4> April </option>	
    			<option value = 5> May </option>	
    			<option value = 6> June </option>	
    			<option value = 7> July </option>	
    			<option value = 8> August </option>	
    			<option value = 9> September </option>	
    			<option value = 10> October </option>	
    			<option value = 11> November </option>
    			<option value = 12> December </option>		
			</select>
	
			<select class="setting" data-width = "fit"  id="birthDay" name = "birthDay" multiple data-max-options="1" title="Day" value=""> 
			</select>

			<select class="setting"  data-width = "fit" id="birthYear" name = "birthYear" multiple data-max-options="1" title="Year" value=""> 
			</select>
	
			<div class="form-group warning" id="month_warning"></div>
			<div class="form-group warning" id="day_warning"></div>
			<div class="form-group warning" id="year_warning"></div>
		</div>		

		<label class="control-label" for = "avatar">Select an avatar</label>
		<div class="form-group">
			<select class="setting" data-width="fit" id="avatar" name = "avatar" multiple data-max-options="1" title="Select an avatar!" value=""> 
			{% for item in avatar_list %}
				<option value="{{item[1]}}"> {{item[0]}}</option>
			{% endfor %}
			</select>	
		</div>
		<div id = "avatar_container" class="img-rounded" style = "width:192px;height:192px;background-size: cover;">  </div>
		<br/>
		<div class="form-group">
			<button id="createProfile" type = "submit"> Submit </button>
		</div>
	</form>
</div>


{% endblock %}
