<!doctype html>

<title> Reset Graph Database </title>




<h2> Click the button below to reset the database. Use permitted for admin only </h2>

<form method = 'POST'>
	<div>
		<label for = "userName">Username</label>
		<input name = "userName" type = "text" />
	</div>
	<div>	
		<label for = "password">Password</label>
		<input name = "password" type = "password" />
	</div>
	<div>
		<button type = "submit"> Click this button to clear all users from the database </button>
	</div>
</form>
