{% extends "base.html" %}
{% block content %}

<script type="text/babel" src={{ url_for('static', filename='components/Notifications.jsx') }}></script>
<script type="text/babel" src={{ url_for('static', filename='components/AccountDropdown.jsx') }}></script>
<script type="text/babel" src={{ url_for('static', filename='components/NavBar.jsx') }}></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/settings.js') }}"></script>

<div id="navbar"></div>
<div class="container" id="updateSettingsContainer">
	<form class="form-horizontal" method="post" action="updateSettings">
		<div class="page-header">
			<h2> Update Settings </h2>
		</div>
		<label class="control-label" for = "first_name">Name</label>
		<div class="form-group">
			<input class="setting" id="first_name" name = "first_name" type = "text" placeholder="First" />
			<input class="setting" id="last_name" name = "last_name" type = "text" placeholder="Last"/>
		</div>
		<div class="form-group warning" id="name_warning"></div>
		<label class="control-label" for = "password"> Change your password </label>
		<div class="form-group">	
			<input class="setting" href="#" id = "password" onclick="focus()" name = "password" type = "password" data-toggle="popover" data-trigger="focus" data-content="Your password must contain at least one letter and one number."/>
		</div>
		<div class="form-group warning" id="password_warning"></div>
		<label class="control-label" for = "password_confirm"> Confirm your new password </label>
		<div class="form-group">
			<input class="setting" id = "password_confirm" name = "password_confirm" type = "password" />
		</div>
		<div class="form-group warning" id="password_confirm_warning"></div>
		<label class="control-label" for = "phone_number">Phone #</label>
		<div class="form-group">
			<input class="setting" id = "phone_number" name="phone_number"></input>
		</div> 
		<div class="form-group"></div>
		<label class="control-label" for="birthMonth">Birthday</label>
		<div class="form-group">
			
			<select class="setting" data-width="fit" id="birthMonth" name = "birthMonth" multiple data-max-options="1" title="Month"> 
				<option value = 1> January </option>	
				<option value = 2> February </option>	
				<option value = 3> March </option>	
				<option value = 4> April </option>	
				<option value = 5> May </option>	
				<option value = 6> June </option>	
				<option value = 7> July </option>	
				<option value = 8> August </option>	
				<option value = 9> September </option>	
				<option value = 10> October </option>	
				<option value = 11> November </option>
				<option value = 12> December </option>		
			</select>
			<select class="setting"  id="birthDay" name = "birthDay" multiple data-max-options="1" data-width="fit" title="Day" value=""> 
			</select>
			<select class="setting"  id="birthYear" name = "birthYear" multiple data-max-options="1" data-width="fit" title="Year" value=""> 
			</select>
			<div class="form-group warning" id="month_warning"></div>
			<div class="form-group warning" id="day_warning"></div>
			<div class="form-group warning" id="year_warning"></div>
		</div>

		<label class="control-label" for = "gender">Select an avatar</label>
		<div class="form-group">
			<select class="setting" data-width="fit" id="avatar" name = "avatar" multiple data-max-options="1" title="Select an avatar!" value=""> 
				{% for item in avatar_list %}
					<option value="{{item[1]}}"> {{item[0]}}</option>
				{% endfor %}
			</select>	
		</div>

		<div id = "avatar_container" class = "avatar_container centered-text" style = "width:60px;height:60px;background-size: contain;">  </div>
		<div class="form-group">
			<div>
				<button type = "submit" id="updateSettingsButton" class="btn btn-default form-control"> Update! </button>
			</div>
		</div>
	</form>
</div>





{% endblock %}