{% extends "base.html" %}
{% include "homeBannerNoLogin.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>
        Manaweb Homepage!
    </title>
    <meta charset="UTF-8">
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='fb.js') }}"></script>
    <div class="container"><h4> <strong>Congratulations!</strong> Your settings have been successfully updated. </h4></div>
    {% if error %}
    <p class = "error"> <strong> Error: </strong> {{ error}} </p>
    {% endif %}

</body>
</html>
{% endblock %}