    <!DOCTYPE html>
    <html>
    <head>
        <title>
            Manaweb Homepage!
        </title>
        <meta charset="UTF-8">
    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename='fb.js') }}"></script>


        <h2> Congratulations! Your settings have been successfully updated </h2>
        <br> 
        <h1> Click <a href = "/"> here </a> to return to the home page </h1>





        {% if error %}
        <p class = "error"> <strong> Error: </strong> {{ error}} </p>
        {% endif %}





    </body>

    </html>